<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<input v-model="message" placeholder="edit me">
			<p>Message is: {{ message }}</p>
			<input type="checkbox" v-model="asd"/>
			<p>{{asd}}</p>
			<input type="checkbox" id="jack" value="456" v-model="checkedNames">
			<label for="jack">Jack</label>
			<input type="checkbox" id="john" value="123" v-model="checkedNames">
			<label for="john">John</label>
			<input type="checkbox" id="mike" value="789" v-model="checkedNames">
			<label for="mike">Mike</label>
			<br>
			<span>Checked names: {{ checkedNames }}</span>
		</div>
		
		<div id="example-4" class="demo">
		  <input type="radio" id="one" value="One" v-model="picked">
		  <label for="one">One</label>
		  <br>
		  <input type="radio" id="two" value="Two" v-model="picked">
		  <label for="two">Two</label>
		  <br>
		  <span>Picked: {{ picked }}</span>
		</div>
		
		<div id="example-5" class="demo">
		  <select v-model="selected">
		    <option>A</option>
		    <option>B</option>
		    <option>C</option>
		  </select>
		  <span>Selected: {{ selected }}</span>
		  <br />
		  <select v-model="selected1">
			  <option v-for="option in options" v-bind:value="option.value">
			    {{ option.text }}
			  </option>
			</select>
			<span>Selected: {{ selected1 }}</span>
		</div>
		
		<script src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>
		<script>
			new Vue({
				el:"#app",
				data:{
					message:"",
					asd:false,
					checkedNames: ["wer"]
				}
			})
			
			new Vue({
				el:"#example-4",
				data:{
					picked:null
				}
			})
			
			new Vue({
			  el: '#example-5',
			  data: {
			    selected: null
			    
			  },
			  data:{
			  	selected1: 'B',
			    options: [
			      { text: 'One', value: 'A' },
			      { text: 'Two', value: 'B' },
			      { text: 'Three', value: 'C' }
			    ]
			  }
			})
		</script>
	</body>
</html>
